#light .nav-menu {
  border-bottom: 0.5px solid #121212;
}

#dark .nav-menu {
  border-bottom: 0.5px solid #ffffff;
}

#dark .nav-brand,
#dark .nav-link {
  color: #dedddd;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#dark .active {
  color: #ffffff;
}

.text-light-mode:hover {
  color: black;
}

@media (max-height: 915px) {
  .responsive-brand {
    width: 100%;
    text-align: center;
  }
  .nav-switch {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
  }
  .nav-list-link {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
