#light .nav-menu {
  border-bottom: 0.5px solid #121212;
}

#dark .nav-menu {
  border-bottom: 0.5px solid #ffffff;
}

#dark .nav-brand,
#dark .nav-link {
  color: #dedddd;
}

#dark .active {
  color: #ffffff;
}

.text-light-mode:hover {
  color: black;
}
