#light {
  background-color: #ffffff;
}

#dark {
  background-color: #212529;
}

#dark .text-dark-mode {
  color: #ffffff;
}

.text-light-mode {
  color: #737373;
}

.page {
  width: 100%;
  height: 100%;
}

.main-navbar {
  width: 100%;
  height: 8%;
}

.main-container {
  width: 100%;
  height: 92%;
}

@media (min-height: 920px) {
  .page {
    height: 100vh;
  }
}
