#light { 
    background-color: #ffffff;
}

#dark {
    background-color: #212529;
}

.h-8 {
    height: 8vh;
}

.h-92 {
    height: 92vh;
}

#dark .text-dark-mode{   
    color: #ffffff;
}

.text-light-mode{   
    color: black;
}